<div class="d-flex d-row flex-grow-1 flex-wrap justify-content-center align-items-stretch search-box p-3" :class="{ 'search-box-disabled': isLoading }">
    <div class="d-flex flex-column flex-grow-1 align-items-stretch">
        <input type="text" max-length="50" class="d-flex flex-grow-1 search-input" placeholder="Search Giphs" v-model="model" v-auto-focus v-auto-select :disabled="isLoading" @keydown.enter="search()" @keydown.esc="clear()" ref="input">
    </div>

    <div class="d-flex d-row flex-wrap search-box-buttons">
        <button class="btn btn-primary text-bright text-capitalize search-button px-4 d-flex flex-row justify-content-center align-items-center" :disabled="!canSearch" type="button" @click="search()">
            <icon-search class="me-2" />
            Search
        </button>

        <button class="btn btn-danger text-bright text-capitalize search-button px-4 d-flex flex-row justify-content-center align-items-center" :disabled="!canClear" type="button" @click="clear()">
            <icon-clear class="me-2" />
            Clear
        </button>
    </div>
</div>