.search-box {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: white;
}

.search-input,
.search-input:focus,
.search-input:active,
.search-input:hover {
    border: none !important;
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    font-size: 1.3rem;
    padding: 0px;
}