@import "../../assets/bootstrap.scss";

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

body {
    background-color: #f6f6f7;
    font-family: "Noto Sans";
    color: #232326;
}